variables:
  AWS_DEFAULT_REGION: "us-east-1"

stages:
  - fmt
  - validate
  - plan
  - apply

image:
  name: hashicorp/terraform:latest
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

# -----------------------
# project1 pipeline jobs
# -----------------------
project1_fmt:
  stage: fmt
  script:
    - echo "Checking configuration files format and style..."
    - cd project1
    - rm -rf .terraform
    - terraform --version
    - terraform init -backend=false
    - terraform fmt -list=true -write=false -diff=true -check=true -recursive
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
      - project1/**/*
  when: always

project1_validate:
  stage: validate
  script:
    - echo "Validating configuration files..."
    - cd project1
    - rm -rf .terraform
    - terraform --version
    - terraform init -backend=false
    - terraform validate
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
      - project1/**/*
  when: always

project1_plan:
  stage: plan
  script:
    - cd project1
    - rm -rf .terraform
    - terraform --version
    - terraform init
    - terraform plan -out=tfplan
  rules:
    - if: ($CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop") && $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
      - project1/**/*
  artifacts:
    name: "project1-plan"
    paths:
      - tfplan
    expire_in: 1 day

project1_apply:
  stage: apply
  script:
    - cd project1
    - rm -rf .terraform
    - terraform --version
    - terraform init
    - terraform apply -auto-approve -input=false tfplan
  dependencies: 
    - project1_plan
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - changes:
      - project1/**/*
  when: manual
