default:
  id_tokens:
    MY_OIDC_TOKEN:
      aud: https://gitlab.com

before_script:
  - export AWS_WEB_IDENTITY_TOKEN_FILE=${CI_JOB_JWT}
  - export AWS_ROLE_ARN=${AWS_ROLE_ARN}
  - export AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
  - echo "${MY_OIDC_TOKEN}" > ~/token
  - export AWS_WEB_IDENTITY_TOKEN_FILE="~/token"

include:
  - local: "project1/.gitlab-ci.yml"
  - local: "project2/.gitlab-ci.yml"