stages:
  - fmt
  - validate
  - plan
  - apply

image:
  name: hashicorp/terraform:latest
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

# -----------------------
# project2 pipeline jobs
# -----------------------
project2_fmt:
  stage: fmt
  script:
    - echo "Checking configuration files format and style..."
    - cd project2
    - rm -rf .terraform
    - terraform --version
    - terraform init -backend=false
    - terraform fmt -list=true -write=false -diff=true -check=true -recursive
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
      - project2/**/*
  when: always

project2_validate:
  stage: validate
  script:
    - echo "Validating configuration files..."
    - cd project2
    - rm -rf .terraform
    - terraform --version
    - terraform init -backend=false
    - terraform validate
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
      - project2/**/*
  when: always

project2_plan:
  stage: plan
  extends: .assume-role
  script:
    - cd project2
    - rm -rf .terraform
    - terraform --version
    - terraform init
    - terraform plan -out=tfplan
  rules:
    - if: ($CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop") && $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
      - project2/**/*
  artifacts:
    name: "project2-plan"
    paths:
      - project2/tfplan
    expire_in: 1 day

project2_apply:
  stage: apply
  extends: .assume-role
  script:
    - cd project2
    - rm -rf .terraform
    - terraform --version
    - terraform init
    - terraform apply -auto-approve -input=false tfplan
  dependencies: 
    - project2_plan
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - changes:
      - project2/**/*
  when: manual
